@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="p-2">

            @Html.TextBox("UserId", "", new { @class = "form-control", @placeholder = "busqueda por Id" })
            <button type="button" id="btnBuscar" class="btn btn-block btn-info"> buscar </button>
        </div>
        <div class="p-2" id="busqueda">

        </div>
    </div>
    <div class="col-md-6">
        <div class="p-2">
            <button type="button" id="btnMostrar" class="btn btn-block btn-info">Actualizar Lista</button>
        </div>
        <div class="p-2" id="lista">
            <div id="loader" class="d-flex align-items-center" style="display:none!important">
                <strong>Cargando...</strong>
                <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        @Html.TextBox("frmUserId", "", new { @class = "form-control", @placeholder = "Id" })
        @Html.TextBox("frmUserName", "", new { @class = "form-control", @placeholder = "Nombre" })
        <button type="button" id="userAdd" class="btn btn-block btn-info">Agregar elemento</button>
    </div>
</div>


